.favorites {
    color: #001D7C;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-height: 80vh;
    max-width: 30%;
}

.favorites h1 {
    margin: 0 10px;
}

.favorites main {
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    border: 3px solid #001D7C;
    border-radius: 10px;
    align-items: center;
    width: 20vw;
}

main::-webkit-scrollbar {
    display: none;
}

.favoriteLocationItem {
    display: flex;
    width: 85%;
    height: 70px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.favoriteLocationItem .mainText {
    display: flex;
    flex-direction: column;
}

.favoriteLocationItem .mainText p, .favoriteLocationItem .mainText h2  {
    margin: 0;
    align-self: flex-start;
}

.favoriteLocationItem .mainText h2  {
    font-size: 18px;
    padding: 0;
}

.favoriteLocationItem > h2 {
    align-self:center ;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .favorites main {
        width: 90vw;
    }
    .favoriteLocationItem {
        width: 90%;
    }
}