.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchText {
    display: flex;
    align-items: center;
    color: #001D7C;
    font-size: 15px;
    margin: 0;
}

.searchText .searchIcon {
    width: 30px;
    height: 30px;
}

.searchBar input {
    width: 50%;
    height: 40px;
    font-size: 20px;
    background-color: #FFE283;
    border: 3px solid #001D7C;
    border-radius: 5px;
    color: #001D7C;
    font-family: 'Gilroy', 'Poppins';
}

/* Search Bar Data Styles */

.dataResult {
    margin-top: 10px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    max-width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: 0.2s ease-in-out;
}

.dataResult .dataItem:hover {
    color: white;
     background-color: #001D7C;
}

/* Responsive Styles */

@media only screen and (max-width: 600px) {
    .searchBar input {
        width: 90%;
    }
}