.upcomingForecasts {
    width: 15%;
    max-height: 63vh;
}

.title {
    display: flex;
    align-items: center;
}
.dailyWeatherData {
    max-height: 85%;
    border: 3px solid #001D7C;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

.dailyWeatherData::-webkit-scrollbar {
    display: none;
}

.tempBox {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

h1 {
    margin: 5px;
}

h2, h3 {
    padding: 5px;
}

.weatherIcon {
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 600px) {
    .upcomingForecasts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }
    main {
        width: 90vw;
    }
}