.App {
  text-align: center;
}

header {
  text-align: left;
  margin: 0.5vw;
  display: flex;
  align-items: center;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #001D7C;
}

.clock {
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 30px;
}

.currentDate {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
}

.headerText h1 {
  margin: 0;
  font-size: 50px;
}

.headerText p {
  margin: 0;
  font-size: 15px;
}

header .weatherIcon {
  width: 120px;
  height: 120px;
  margin-right: 1vw;
  color: #001D7C;
}

.components {
  display: flex;
  justify-content: space-around;
}

button {
  position:absolute;
  top: 120px;
  left: 1vw;
  background-color: #FFE283;
  border: 3px solid #001D7C;
  color: #001D7C;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #001D7C;
  color: #FFE283;
}

.firstTwo {
  display: flex;
}
/* Responsive Styles */

@media only screen and (max-width: 1100px) {
  .headerText h1 {
    font-size: 7vw;
  }

  .components {
    flex-direction: column;
    align-items: center;
    
  }
  .currentDate {
    font-size: 5vw;
    top: 10px;
    right: 10px
  }
  .clock {
    font-size: 3.5vw;
    top: 6.5vw;
    right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .headerText h1 {
    font-size: 7vw;
  }
  .headerText p {
    font-size: 2.5vw;
  }
  header .weatherIcon {
    width: 70px;
    height: 70px;
  }
  .components {
    flex-direction: column;
    align-items: center;
    
  }
  button {
    position:static;
  }
  .currentDate {
    font-size: 5vw;
    top: 10px;
    right: 10px
  }
  .clock {
    font-size: 3.5vw;
    top: 40px;
    right: 10px;
  }
}